.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
   }



img { 
    width: 250px;
    height: auto;
    
  }
p{
    color:red
}

.btn-danger{
    background-color: #F56F5F;
}

.btn-primary{
    
    background-color: #D95FC7
}